body {
  margin-left: 7%;
  margin-right: 7%;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #333232;
  color: #ffffe1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: #ffffe1;
}

.nav-bar {
  word-spacing: 5px;
  font-size: 1.25rem;
}

.nav-element {
  display: inline;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  width: 100%;
}

.link-container {
  height: 6rem;
  width: 31%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#linkedin {
  background-color: #759aab;
}
#github {
  background-color: #ef946c;
}

#contact {
  background-color: #e5446d;
}
