body {
  margin-left: 7%;
  margin-right: 7%;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #333232;
  color: #ffffe1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

a {
  color: #ffffe1;
}

p {
  line-height: 1.5rem;
}
.nav-bar {
  word-spacing: 5px;
  font-size: 1.25rem;
}

.nav-element {
  display: inline;
}

.links,
.project-categories {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  width: 100%;
}

.link-container {
  height: 6rem;
  width: 31%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.project {
  line-height: 1rem;
  border: 2px solid #759aab;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 0;
}

.project-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4%;
}

#linkedin {
  background-color: #759aab;
}
#github {
  background-color: #ef946c;
}

#contact {
  background-color: #e5446d;
}

#gamedev {
  background-color: #759aab;
}

#graphics {
  background-color: #ef946c;
}

#other {
  background-color: #e5446d;
}

#jump {
  text-align: center;
}

.gamedev h2 {
  color: #759aab;
}
